# API
api/node_modules/
api/.env
api/coverage/
*.log

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/**/*.iml
mobile/.idea/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/

# Secrets
.env
*.pem
*.key
